<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important test</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="">
    <div class="bg-gray-100 min-h-screen">
        <nav class="bg-slate-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-center justify-center">
                        <div class="flex items-center space-x-4">
                            <a href="#" id="delete-button" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Delete</a>
                            <img class="block h-8 w-auto" src="favicon.ico" alt="logo">
                            <a href="#" id="next-button" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Next</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </nav>
        <div class="relative bg-white mx-auto my-8 rounded-lg max-w-lg px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 ">
            <div id="spinner-container" class="spinner">
                <div class="flex items-center justify-center">
                    <div
                      class="inline-block h-12 w-12 animate-spin rounded-full text-slate-800 border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                      role="status">
                      <span
                        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                        >Loading...</span
                      >
                    </div>
                  </div>
            </div>
            <div id="container"></div>
        </div>
    </div>
    <script type="module" src="app.js"></script>
</body>
